In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/abgautam/Documents/Abhishek/DATA SET FOR RFM-VALUE BASED SEGMENTATION.csv')

In [3]:
data.head()

,cust_id,No_of_days_frm_L_pur,total_sale,No_baskets,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2
0,347,3,444.00,4,47,25,5,11.75000,0
1,585,320,509871.48,27,19322,531,68,715.62963,0
2,885,115,2284.59,4,247,130,17,61.75000,1
3,1670,3,8092.17,28,553,306,114,19.75000,1
4,2188,428,200.50,1,51,14,2,51.00000,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22602 entries, 0 to 22601
Data columns (total 9 columns):
cust_id                 22602 non-null int64
No_of_days_frm_L_pur    22602 non-null int64
total_sale              22602 non-null float64
No_baskets              22602 non-null int64
item_cnt                22602 non-null int64
no_SKUs                 22602 non-null int64
no_Categories           22602 non-null int64
avg_no_prds_w_ret       22602 non-null float64
Flag_Multi_cat_p2       22602 non-null int64
dtypes: float64(2), int64(7)
memory usage: 1.6 MB

In [5]:
data.columns

Index(['cust_id', 'No_of_days_frm_L_pur', 'total_sale', 'No_baskets',
       'item_cnt', 'no_SKUs', 'no_Categories', 'avg_no_prds_w_ret',
       'Flag_Multi_cat_p2'],
      dtype='object')

In [6]:
data.rename(columns = {'No_of_days_frm_L_pur' : 'recency',
                      'No_baskets' : 'frequency',
                      'total_sale' : 'monitory_value'}, inplace = True)

In [7]:
data.head()

,cust_id,recency,monitory_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2
0,347,3,444.00,4,47,25,5,11.75000,0
1,585,320,509871.48,27,19322,531,68,715.62963,0
2,885,115,2284.59,4,247,130,17,61.75000,1
3,1670,3,8092.17,28,553,306,114,19.75000,1
4,2188,428,200.50,1,51,14,2,51.00000,0

## Value Based Segmentation

In [8]:
#Creating Deciles
data['Deciles'] = pd.qcut(data['monitory_value'], 10, labels=False)

In [9]:
data.head()

,cust_id,recency,monitory_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,Deciles
0,347,3,444.00,4,47,25,5,11.75000,0,5
1,585,320,509871.48,27,19322,531,68,715.62963,0,9
2,885,115,2284.59,4,247,130,17,61.75000,1,8
3,1670,3,8092.17,28,553,306,114,19.75000,1,9
4,2188,428,200.50,1,51,14,2,51.00000,0,3

In [10]:
data[data.Deciles==1]

,cust_id,recency,monitory_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,Deciles
21,7715,36,100.70,1,9,8,2,9.0,1,1
24,8589,317,101.40,1,26,1,1,26.0,0,1
93,43653,55,100.10,1,5,5,2,5.0,1,1
98,53265,161,115.70,1,7,4,1,7.0,0,1
117,75016,342,101.39,1,13,9,3,13.0,0,1
...,...,...,...,...,...,...,...,...,...,...
22587,132450091,1,101.57,1,18,15,3,18.0,1,1
22591,132464297,1,109.15,1,13,3,1,13.0,0,1
22592,132465072,0,105.70,1,7,7,3,7.0,1,1
22597,132473524,0,108.90,1,11,4,3,11.0,1,1
22598,132484207,0,101.86,1,7,2,1,7.0,0,1

In [11]:
data[data.Deciles==2]

,cust_id,recency,monitory_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,Deciles
7,4271,264,152.70,2,31,5,3,15.5,0,2
12,4576,396,174.90,1,12,9,4,12.0,0,2
20,7620,73,134.90,1,11,1,1,11.0,0,2
37,12937,450,151.48,1,12,1,1,12.0,0,2
39,13863,232,122.30,1,16,8,2,16.0,0,2
...,...,...,...,...,...,...,...,...,...,...
22579,132418691,2,176.65,1,9,9,3,9.0,1,2
22584,132436668,1,124.09,1,16,11,5,16.0,1,2
22594,132467856,0,184.00,1,2,1,1,2.0,0,2
22595,132467898,0,180.80,1,7,7,3,7.0,1,2
22599,132489383,0,169.00,1,15,1,1,15.0,0,2

In [16]:
# Key performace variable selection
col_kpi=['monitory_value','recency','frequency','item_cnt','no_SKUs',
         'no_Categories','avg_no_prds_w_ret','Flag_Multi_cat_p2']

In [17]:
#Profiling
profiling_seg = data.groupby(['Deciles']).apply(lambda x: x[col_kpi].mean())

In [18]:
profiling_output = profiling_seg.T

In [19]:
profiling_output

Deciles,0,1,2,3,4,5,6,7,8,9
monitory_value,69.865536,107.423593,153.687809,229.448081,331.000137,474.869996,712.810314,1140.993296,2013.107841,7405.863361
recency,238.693761,197.436331,187.954405,170.429708,174.325066,123.691150,100.781858,77.999115,61.258407,50.987616
frequency,1.019772,1.018255,1.194776,1.683908,2.343667,2.805752,4.040265,6.153540,9.705752,18.102609
item_cnt,6.140598,10.094390,11.041169,18.546861,25.880425,34.734071,50.161504,80.302655,137.839823,354.333481
no_SKUs,3.235501,5.451024,5.681275,9.091954,12.349867,16.421239,25.389381,40.023894,65.577876,129.369306
no_Categories,1.648067,2.228406,2.354139,3.597259,4.984500,6.288938,9.525664,15.100442,24.642035,48.166298
avg_no_prds_w_ret,5.964572,9.995548,9.499277,11.684586,11.650923,14.139388,13.328497,14.260162,15.953250,24.099957
Flag_Multi_cat_p2,0.117311,0.334817,0.326251,0.416004,0.443313,0.588938,0.699558,0.799115,0.846903,0.865104

In [20]:
profiling_output.to_csv('profiling_output.csv')

## RFM Segmentation

In [23]:
#Method-1: Creating quartiles

#data['R_Quartile'] = pd.qcut(data['recency'], 4, labels=False)
#data['F_Quartile'] = pd.qcut(data['frequency'], 4, labels=False)
#data['M_Quartile'] = pd.qcut(data['monitory_value'], 4, labels=False)

In [24]:
#Method-2: Creating quartiles

quantiles = data[['frequency','monitory_value','recency' ]].quantile(q=[0.25,0.5,0.75])
quantiles

      frequency  monitory_value  recency
0.25        1.0         151.800     26.0
0.50        2.0         393.755     93.0
0.75        5.0        1117.725    225.0

In [25]:
quantiles = quantiles.to_dict()
quantiles

{'frequency': {0.25: 1.0, 0.5: 2.0, 0.75: 5.0},
 'monitory_value': {0.25: 151.8, 0.5: 393.755, 0.75: 1117.725},
 'recency': {0.25: 26.0, 0.5: 93.0, 0.75: 225.0}}

In [29]:
#We create two classes for the RFM segmentation since, being high recency is bad, while high frequency and monetary value is good.
# Arguments (x = value, p = recency, monetary_value, frequency, d = quartiles dict)
# For recency
def RClass(x,p,d) :
    if x<=d[p][0.25]:
        return 1
    elif x<=d[p][0.50]:
        return 2
    elif x<=d[p][0.75]:
        return 3
    else:
        return 4

# For frequency and monitory
def FMClass(x,p,d) :
    if x<=d[p][0.25]:
        return 4
    elif x<=d[p][0.50]:
        return 3
    elif x<=d[p][0.75]:
        return 2
    else:
        return 1

In [31]:
data['R_Quartile'] = data['recency'].apply(RClass, args=('recency',quantiles,))
data['F_Quartile'] = data['frequency'].apply(FMClass, args=('frequency',quantiles,))
data['M_Quartile'] = data['monitory_value'].apply(FMClass, args=('monitory_value',quantiles,))

In [32]:
data.head()

,cust_id,recency,monitory_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,Deciles,R_Quartile,F_Quartile,M_Quartile
0,347,3,444.00,4,47,25,5,11.75000,0,5,1,2,2
1,585,320,509871.48,27,19322,531,68,715.62963,0,9,4,1,1
2,885,115,2284.59,4,247,130,17,61.75000,1,8,3,2,1
3,1670,3,8092.17,28,553,306,114,19.75000,1,9,1,1,1
4,2188,428,200.50,1,51,14,2,51.00000,0,3,4,4,3

In [33]:
data1=data.assign(R_seg=np.nan, FM_seg =np.nan)
data1.R_seg[data['R_Quartile']==4] = "3.Churn"
data1.R_seg[data['R_Quartile']==2] = "2.At Risk"
data1.R_seg[data['R_Quartile']==3] = "2.At Risk"
data1.R_seg[data['R_Quartile']==1] = "1.Active"

data1.FM_seg[(data['F_Quartile']==3) & (data['M_Quartile']==1)] = "2.Gold"
data1.FM_seg[(data['F_Quartile']==4) & (data['M_Quartile']==1)] = "2.Gold"
data1.FM_seg[(data['F_Quartile']==2) & (data['M_Quartile']==2)] = "2.Gold"
data1.FM_seg[(data['F_Quartile']==3) & (data['M_Quartile']==2)] = "2.Gold"
data1.FM_seg[(data['F_Quartile']==4) & (data['M_Quartile']==4)] = "1.Silver"
data1.FM_seg[(data['F_Quartile']==1) & (data['M_Quartile']==3)] = "2.Gold"
data1.FM_seg[(data['F_Quartile']==2) & (data['M_Quartile']==3)] = "2.Gold"
data1.FM_seg[(data['F_Quartile']==3) & (data['M_Quartile']==3)] = "1.Silver"
data1.FM_seg[(data['F_Quartile']==4) & (data['M_Quartile']==3)] = "1.Silver"
data1.FM_seg[(data['F_Quartile']==1) & (data['M_Quartile']==4)] = "2.Gold"
data1.FM_seg[(data['F_Quartile']==2) & (data['M_Quartile']==4)] = "1.Silver"
data1.FM_seg[(data['F_Quartile']==3) & (data['M_Quartile']==4)] = "1.Silver"
data1.FM_seg[(data['F_Quartile']==4) & (data['M_Quartile']==4)] = "0.Standard"

data1.FM_seg.fillna("4.Premium", inplace=True)

C:\Users\abgautam\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\abgautam\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\abgautam\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\abgautam\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\abgautam\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [35]:
data1.head()

,cust_id,recency,monitory_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,Deciles,R_Quartile,F_Quartile,M_Quartile,R_seg,FM_seg
0,347,3,444.00,4,47,25,5,11.75000,0,5,1,2,2,1.Active,2.Gold
1,585,320,509871.48,27,19322,531,68,715.62963,0,9,4,1,1,3.Churn,4.Premium
2,885,115,2284.59,4,247,130,17,61.75000,1,8,3,2,1,2.At Risk,4.Premium
3,1670,3,8092.17,28,553,306,114,19.75000,1,9,1,1,1,1.Active,4.Premium
4,2188,428,200.50,1,51,14,2,51.00000,0,3,4,4,3,3.Churn,1.Silver

In [36]:
# Key performace variable selection
col_kpi=['monitory_value','recency','frequency','item_cnt','no_SKUs',
         'no_Categories','avg_no_prds_w_ret','Flag_Multi_cat_p2']

In [37]:
#Profiling
Profiling=data1.groupby(['R_seg', 'FM_seg']).apply(lambda x: x[col_kpi].mean()).T

In [38]:
Profiling

R_seg                1.Active                                       \
FM_seg             0.Standard    1.Silver      2.Gold    4.Premium
monitory_value     102.134684  242.719137  738.687137  3928.657833
recency             11.890020   12.228013   11.742424    10.924857
frequency            1.000000    1.596091    3.511164    14.798918
item_cnt             8.152749   16.244300   44.181021   238.825669
no_SKUs              4.472505    8.846906   21.535088   104.183950
no_Categories        1.902240    3.434853    8.086124    39.227532
avg_no_prds_w_ret    8.152749   10.463355   13.470282    15.814134
Flag_Multi_cat_p2    0.535642    0.721498    0.912281     0.972047

R_seg               2.At Risk                                       \
FM_seg             0.Standard    1.Silver      2.Gold    4.Premium
monitory_value      98.560910  238.873325  780.129847  2366.371868
recency            121.963967  114.298795  101.602462    81.002498
frequency            1.000000    1.509237    3.247172     8.363835
item_cnt             8.047656   16.590361   41.909182   137.563710
no_SKUs              4.330105    8.208434   19.912176    55.733604
no_Categories        1.813638    3.110442    7.337991    20.828232
avg_no_prds_w_ret    8.047656   11.392303   13.988440    17.740587
Flag_Multi_cat_p2    0.419217    0.546586    0.718563     0.811680

R_seg                 3.Churn
FM_seg             0.Standard    1.Silver       2.Gold    4.Premium
monitory_value      94.664424  233.251813  1055.247251  3775.144343
recency            351.511019  330.308901   326.814343   309.363029
frequency            1.000000    1.479712     3.064542     4.786192
item_cnt             8.594595   17.469895    37.080478   137.200445
no_SKUs              4.600832    8.229712    14.170518    31.051225
no_Categories        2.095218    3.328534     6.287649    11.233853
avg_no_prds_w_ret    8.594595   11.961627    13.833625    24.139014
Flag_Multi_cat_p2    0.000000    0.000000     0.000000     0.000000

In [39]:
Profiling.to_csv('Profiling_rfm.csv')